@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);


/* Documentation Defaults */
body {
	margin: 0;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
}

img {
	max-width: 100%;
}

header {
	text-align: center;
	padding: 10.25% 14.75%;
}

nav a {
	margin: 0 2%;
	display: inline-block;
	text-decoration: none;
}

footer {
	padding: 0 14.75%;
	text-align: right;
}

section {
	padding: 0 14.75%;
}

.cf:before,
.cf:after,
section:before,
section:after {
	content: " ";
	display: table;
}

.cf:after,
section:after {
	clear: both;
}

@media all and (min-width: 768px) {
	.annotate p,
	.annotate ul {
		clear: left;
		float: left;
		width: 40%;
	}

	.annotate pre {
		margin: 1em 0 1em 1em;
		float: right;
		width: 50%;
	}
}

/* Custom Styles */
body {
	background: #f7f6f1;
	color: #456;
}

a {
	color: #26ae90;
}

a:hover { color: #1b7a66; }

h1 a {
	text-decoration: none;
	color: #456;
}

nav a {
	padding: .25em .5em;
	border-radius: 4px;
	color: #aaa;
}

nav a.active,
nav a:hover {
	background: rgba(33,33,33,.25);
	color: #f7f6f1;
}

h1, h2, h3, h4, h5, h6 {
}

header h1 {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 4em;
}

#main pre {
	border-radius: 8px;
	padding: 0 1em;
}

footer {
	padding-top: 1em;
	color: #bfbfbb;
}

footer p {
	padding: 2em 0 1em;
	border-top: 1px solid #deddd9;
}

.settings {
	list-style: none;
	margin: 1em 0;
	padding: 0;
	border-top: 1px solid #ddd;
}

.settings li {
	border-bottom: 1px solid #ddd;
}

.settings li > code {
	margin-top: 1em;
	padding: .25em 0;
	display: inline-block;
}

.settings p {
	/* display: inline-block; */
	margin-top: 0;
}

.disclaimer {
	text-align: center;
	font-style: italic;
}
